body {
	cursor: pointer;
  cursor: url('MFsight99.png') 2 2, pointer;
  z-index: 1;
}

#splash {
  position: absolute;
  color: white;
  z-index: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.clickable_gh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  cursor: url('MFsight99.png') 2 2, pointer;
}

.clickable_li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  cursor: url('MFsight99.png') 2 2, pointer;
}

.github_logo {
  background-image: url('GitHub-Mark-Light-64px.png');
  background-size: cover;
  height: 50px;
  width: 50px;
}

.linkedin_logo {
  background-image: url('li_logo.png');
  background-size: cover;
  height: 50px;
  width: 50px;
}

#splash h1 {
  font-family: Distant Galaxy, sans-serif;
  font-weight: lighter;
  font-size: 60px;
}

#splash h2 {
  font-family: Distant Galaxy, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #fcda31;
  text-align: center;
  padding-bottom: 45px;
}

#play_btn {
  font-family: Distant Galaxy, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  background-color: black;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fcda31;
  border: 5px solid #fcda31;
}

.user_info {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 150;
  bottom: 0%;
  left: 0%;
}

#damage {
  font-size: 20px;
  z-index: 10;
  font-family: Distant Galaxy, sans-serif;
  color: white;
  margin-left: 50px;
  font-weight: lighter;
}

#music {
  font-size: 20px;
  z-index: 10;
  font-family: Distant Galaxy, sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 100px;
  font-weight: lighter;
  padding-top: 50px;
}

h1 #music{
  padding-top: 100px;
}

#score {
  font-size: 20px;
  z-index: 10;
  font-family: Distant Galaxy, sans-serif;
  color: white;
  font-weight: lighter;
  margin-left: 10px;
}

canvas{
    position: relative;
    z-index: 1;
}

.screen {
  position: relative;
  display: inline-block;
}

#quit_game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 10;

  font-family: Distant Galaxy, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  background-color: black;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fcda31;
  border: 5px solid #fcda31;
}